body{
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/5c/d8/a4/5cd8a42242bc098d1db42c9516806e0e.gif);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin:0;
	height:956px;
	color: white
	position: relative;

	}

header{
	margin: auto;
	height: 20%;
	width: 600px;
	background-color: black;
	text-align: center;
    color: red ;
    font-size: 40px
	}



	#NEWS{
		background-image: url(http://img2.tvtome.com/i/u/c0fe48701b0c475ec727d360e58c17eb.gif;)
		position: absolute;



	}


	div {
    background-color: darkgrey;
    width: 300px;
    border: 25px navy blue;
    padding: 25px;
    margin: 25px;
    position: absolute;
    color: black;
    position: absolute;




 	div {
	height: 50%;
	width: 100%;
	background-color: blue;
	position:;
	padding: 10px;
}


#TOC {
	height: 50%;
	width: 80%;
}



header h1 {
	color: red;
	margin: auto;
}


}
nav{
	color: red;
}



ul #nav_ul{

	list-style-type: horizontal;
	margin: 0;
	padding: 5px;
	width: 250px
	
}



li a {
	list-style-type: none;
    display: block;
    width: 60px;
    background-color: black;
    padding: 20px

li  {
	display: inline;
	display: inline-block;
	float: center
	padding: 8px;
	background-color: red;
}





 


